<!--<p>
  mainbody works!
</p>-->
<div [style.color]="'grey'">
  <div class="row">
    <div class="col-sm-12">
      <h3 align="center">COMICS</h3>
      <div class="well well-lg">
        <div>
          <ul *ngFor="let item of Comics; let i = index">
            <!--<a routerLink='/movies' routerLinkActive="active">-->
               <li>{{item.Comic_Name}}</li>
               <img src={{item.Comic_Image}} height="200" width="300">
              <!--<li (click)="DisplayMovies(i)">{{item.H_Name}}</li>-->
            <!--</a>-->
          </ul>
        </div>
      </div>
      </div>
    </div>
</div>