<!--<p>
  comics works!
</p>-->
<div>
  <table class="table table-striped">
    <thead>
      <th>Comic_Name</th>
      <th>Comic_Image</th>
      <th>Comic_Data</th>
       
    </thead>
    <tbody>
      <tr *ngFor="let item of Comic; let i = index">
        <td>{{item.Comic_Name}}</td>
        <td><img src={{item.Comic_Image}} height="100" width="100"></td>
         <td>{{item.Comic_Data}}</td>
       
         <button class="btn btn-success" (click)="OpenEditTab(item._id)">EDIT</button><td></td>
         <button class="btn btn-danger" (click)="DeleteComic(item._id)"> DELETE</button>
      </tr>
    </tbody>
  </table>
 <button class="btn btn-success" (click)="OpenEditor()">ADD NEW COMIC</button> 
</div>
<div *ngIf="!flag">
<div class="container">
  
    <form (ngSubmit)='UpdateComic()' #DetailsForm='ngForm'>
    <input type="text" name="Season" #Series placeholder="Enter new comic name" [(ngModel)]="NewComic.Comic_Name">
    <!--<input type="text" name="Data" #Data placeholder="Upload Image" [(ngModel)]="NewComic.Comic_Image">-->
    <label for="single">Destination</label>
     <input type="file"  name="single" accept="image/*" (change)="changeListener($event)">                                  
    
    <input type="text" name="Data" #Starts placeholder="Enter Data" [(ngModel)]="NewComic.Comic_Data">
   
    <button>UPDATE</button>
  </form>
</div>
</div>
<div *ngIf="!flag2">
<div class="container">
  
    <form (ngSubmit)='AddComics()' #DetailsForm='ngForm'>
    <input type="text" name="Comic" #Comic placeholder="Enter the Comic name" [(ngModel)]="NewComic.Comic_Name">
    <!--<input type="text" name="Image" #Data placeholder="Enter Image" [(ngModel)]="NewComic.Comic_Image">-->
    <label for="single">Destination</label>
     <input type="file"  name="single" accept="image/*" (change)="changeListener($event)" />  
     <input type="text" name="Data" #Starts placeholder="Enter DAta" [(ngModel)]="NewComic.Comic_Data">
   
    <button>SUBMIT</button>
  </form>
</div>
</div>

