<!--<p>
  comics works!
</p>-->
<br /><br /><br /><br />

<div>
  <table class="table table-striped">
    <thead>
      <th>Comic_Name</th>
      <th>Comic_Image</th>
      <th>Comic_Data</th>
       
    </thead>
    <tbody>
      <tr *ngFor="let item of Comic; let i = index">
        <td>{{item.Comic_Name}}</td>
        <td><img src={{item.Comic_Image}} height="300px" width="300px"></td>
         <td>{{item.Comic_Data}}</td>
       
         <button class="btn btn-success" (click)="OpenEditTab(item._id)">EDIT</button><td></td>
         <button class="btn btn-danger" (click)="DeleteComic(item._id)"> DELETE</button>
      </tr>
    </tbody>
  </table>
 <button class="btn btn-success" (click)="OpenEditor()">ADD NEW COMIC</button> 
  <!--<button class="btn btn-success" (click)="Logout()">LOGOUT</button> -->
</div>
<div *ngIf="!flag">
<div class="container">
  
    <form (ngSubmit)='UpdateComic()' #DetailsForm='ngForm'>
       <div class="form-group">
    <input type="text" name="Season" #Series placeholder="Enter new comic name" [(ngModel)]="NewComic.Comic_Name">
       </div>
    <!--<input type="text" name="Data" #Data placeholder="Upload Image" [(ngModel)]="NewComic.Comic_Image">-->
   <div class="form-group">
    <label for="single">Destination</label>
     <input type="file"  name="single" accept="image/*" (change)="changeListener($event)">                                  
   </div>
   <div class="form-group">
    <input type="text" name="Data" #Starts placeholder="Enter Data" [(ngModel)]="NewComic.Comic_Data">
   </div>
    <button>UPDATE</button>
  </form>
</div>
</div>
<div *ngIf="!flag2">
<div class="container">
  
    <form (ngSubmit)='AddComics()' #DetailsForm='ngForm'>
   <div class="form-group">
    <input type="text" name="Comic" #Comic placeholder="Enter the Comic name" [(ngModel)]="NewComic.Comic_Name">
     </div>
       <!--<select #dropdown>
  <option  *ngFor="let item of Series" name="Series_Name" value={{item._id}}>{{item.Series_Name}}</option>
</select>  
 <select #dropdown2>
  <option  *ngFor="let item of Season" name="Season_Name" value={{item._id}}>{{item.Season_Name}}</option>
</select>      -->
    <!--<input type="text" name="Image" #Data placeholder="Enter Image" [(ngModel)]="NewComic.Comic_Image">-->
    <label for="single">Destination</label>
     <input type="file"  name="single" accept="image/*" (change)="changeListener($event)" />  
     <input type="text" name="Data" #Starts placeholder="Enter DAta" [(ngModel)]="NewComic.Comic_Data">
   
    <button>SUBMIT</button>
  </form>
</div>
</div>

