<!--<p>
  seasons works!
</p>-->
<br /><br /><br /><br /> 
<!--<div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false, delay: 0, minDuration: 6000}">-->
<!--<div [ngBusy]="busy"></div>-->
<div>
  <table class="table table-striped">
    <thead>
      <th>Season_Name</th>
      <th>Season_Data</th>
      <th>Starts_On</th>
      <th>Ends_On</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of Season; let i = index">
        <td><a routerLinkActive="active" (click)="Seasonid(item._id)">{{item.Season_Name}}</a></td>
        <td>{{item.Season_Data}}</td>
        <td>{{item.Starts_On}}</td>
        <td>{{item.Ends_On}}</td>
        <button class="btn btn-success" (click)="OpenEditTab(item._id)">EDIT</button>
        <td></td>
        <button class="btn btn-danger" (click)="DeleteSeason(item._id)"> DELETE</button>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)="OpenEditor()">ADD NEW SEASON</button>
  
</div>
<div *ngIf="!flag">
  <div class="container">

    <form (ngSubmit)='UpdateSeason()'>
      <input type="text" name="Season" #Series placeholder="Enter new season name" [(ngModel)]="NewSeason.Season_Name">
      <input type="text" name="Data" #Data placeholder="Enter Data" [(ngModel)]="NewSeason.Season_Data">
   
 </form>
 <label>StartS_On</label>
      <ng2-datepicker [options]="options" [(ngModel)]="NewSeason.Starts_On"></ng2-datepicker>
      <label>EndS_On</label>
      <ng2-datepicker [options]="options" [(ngModel)]="NewSeason.Ends_On"></ng2-datepicker>
      <button>UPDATE</button>.
  </div>
</div>
<div *ngIf="!flag2">
  <div class="container">

    <form (ngSubmit)='AddSeason()'>
      <input type="text" name="Season" #Season placeholder="Enter the season name" [(ngModel)]="NewSeason.Season_Name">
      <input type="text" name="Data" #Data placeholder="Enter Data" [(ngModel)]="NewSeason.Season_Data">
      
      <label>StartS_On</label>
      <ng2-datepicker name="Starts_On" [options]="options" [(ngModel)]="Starts_On"></ng2-datepicker>
      <label>EndS_On</label>
      <ng2-datepicker name="Ends_On" [options]="options" [(ngModel)]="Ends_On"></ng2-datepicker>
      <button>SUBMIT</button>
    </form>
  </div>
</div>