<!--<p>
  user works!
</p>-->
<div class="row">
<div class="col-md-3">
    </div>
<div class="col-md-6">
  <div *ngFor="let item of Comics; let i = index">
      <div class="thumbnail" style="background-color:black ;border-radius:25px "  >
    <img  src={{item.Comic_Image}} alt="Lights" height="225" width="300" class="img-circle">
  <div class="caption" style="color:white">
   {{item.Comic_Name}} {{item.Comic_Data}} 
         <br />
          
            <label for="comment">Comment:</label>
            <input rows="5" id="comment" type="description" name="comments" #comment placeholder="comment" style="color:black">
            <button class="btn btn-info" (click)="CommentComic(comment.value,item._id)">post</button>
          
     </div>
    </div>
    </div>
    <div *ngFor="let item of GetSearch; let i = index">
    {{item.Comment}}
    </div>
       <div class="col-md-3">
    </div>
</div>
</div>


<button class="btn btn-success" (click)="Logout()">LOGOUT</button>
style="background-color:white ;border-radius:25px "