<body class="body" style="background-color: #ffa64d">
  </body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.kelltontech.com/">KT COMICS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink='/' routerLinkActive="active">Home</a></li>
      <li><a href="#">Comics</a></li>
      <li><a routerLink='/search' routerLinkActive="active">Search</a></li>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink='/login' routerLinkActive="active">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
      </ul>
    </ul>
  </div>
</nav>

<div class="container">

  <div class="jumbotron" >
    <h1  align="center">EXPLORE THE BEST READS</h1>

  </div>
 

</div>