
<div class="well">  
</div>
<div>
  <table class="table table-striped">
    <thead>
      <th>UserName</th>
      
      <th>Type</th>
       <th>email</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of Users; let i = index">
        <td>{{item.username}}</td>
        
         <td>{{item.UserType_ID}}</td>
          <td>{{item.email}}</td>
         <button class="btn btn-success" (click)="OpenEditTab(item.username)">EDIT</button><td></td>
         <button class="btn btn-danger" (click)="DeleteUsers(item.username)"> DELETE</button>
      </tr>
    </tbody>
  </table>
 <button class="btn btn-success" (click)="OpenEditor()">ADD NEW USER</button> 
  <!--<button class="btn btn-success" (click)="Logout()">LOGOUT</button> -->
</div>
<div *ngIf="!flag">
<div class="container">
  
     <form (ngSubmit)='Updateuser()' #DetailsForm='ngForm'>
       <div class="form-group">
       <label>Enter the new password:</label>
    <input type="password" name="password" #password placeholder="Enter the new password" [(ngModel)]="EditUser.password">
       </div>
    <div class="radio">
  <label><input type="radio" name="admin" [(ngModel)]="EditUser.UserType_ID" value="admin">admin</label>
</div>
<div class="radio">
  <label><input type="radio" name="user" [(ngModel)]="EditUser.UserType_ID" value="user">user</label>
</div>
    <button class="btn btn-success">Update</button>
  </form>
</div>
</div>


<div *ngIf="!flag2">
<div class="container">
   <form (ngSubmit)='AddUser()' #DetailsForm='ngForm'>
       <div class="radio">

  <label><input type="radio" name="admin" [(ngModel)]="EditUser.UserType_ID" value="admin">admin</label>
</div>
<div class="radio">
  <label><input type="radio" name="user" [(ngModel)]="EditUser.UserType_ID" value="user">user</label>
</div>
      <div class="form-group"> <label>Enter new Username:</label>
    <input type="text" name="username" #username placeholder="Enter new username" [(ngModel)]="EditUser.username">
      </div>
      <div class="form-group"> <label>Enter email-id:</label>
    <input type="text" name="email" #email placeholder="Enter email" [(ngModel)]="EditUser.email">
      </div>
      <div class="form-group">
       <label>Enter  new password:</label>
   
    <input type="password" name="password" #password placeholder="Enter new password" [(ngModel)]="EditUser.password">
      </div>
    <button class="btn btn-success">Submit</button>
  </form>
</div>
</div>

